/* Main content wrapper */
main {
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.segment, .measure-meta {
  padding-block: 1.5rem;
  border-bottom: 2px solid #000;
}

.measure-detail h1 {
  margin-bottom: 0.25em;
}

.measure-detail h2 {
  margin-top: 0;
    margin-bottom: 0.25em;
}

.measure-detail h3 {
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: 1.1em;
}

.measure-detail h2 span {
  font-weight: normal;
}

.measure-detail .measure-meta p {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.measure-detail .measure-meta p strong {
  display: inline-block;
  width: 26ch;
  font-weight: 600;
}

.measure-detail .measure-meta img {
  margin-left: 0.5rem;
  border: 1px solid #000;
  height: 2.5em;
  width: auto;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card p {
    margin: 10px 0 5px 0;
    text-align: center;
}

.boxgrid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 18px;
}


.boxcard {
  position: relative;
  aspect-ratio: 1 / 1;
  background: #f3f4f6;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
    font-size: 0.7em;
}


.card-inner {
position: absolute;
inset: 0;
display: grid;
grid-template-rows: auto 1fr;
}


.card-header {
padding: 14px 14px 0;
}


.card-title {
margin: 0;
font-weight: 700;
font-size: 15px;
letter-spacing: 0.02em;
color: #111827;
}


.card-body {
padding: 0 14px 14px;
overflow: auto;
}


.muted { color: #6b7280; }


.card-body ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.card-body li {
  margin: 2px 0;
}

p { margin: 8px 0 0; }

.boxgrid .white {
  background: #ffffff;
    border: 1px solid #000000;
}

@media (max-width: 1100px) {
.boxgrid { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
.boxgrid { grid-template-columns: 1fr; }
}


.example {
    margin-bottom: 2em;
}

.card-title {
    cursor: help;
}
