{% extends "admin/base.html" %}
{% load i18n %}
{% block nav-global %}
<div style="float: right; margin: 10px;">
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang_code, lang_name in LANGUAGES %}
                <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang_name }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>
{% endblock %}
