{% extends "base.html" %}
{% load i18n static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% url 'hero_css' pk=measure.pk %}">
{% endblock %}

{% block title_image %}
    <div class="measure-header-hero">
        <h1 class="hero-title">{{ measure.measure_name }}</h1>
        <h2 class="hero-subtitle">{% trans "Catalogue of measures to strengthen the stability and resilience of the landscape" %}</h2>
    </div>
{% endblock %}

{% block content %}
    <main class="measure-list">
        <h1>{{ measure.measure_name }}</h1>
        <h2>{% trans "Group" %}: <span>{{ measure.group.group_name }}</span></h2>
        <h3>{{ measure.abstract }}</h3>
        <hr />
        <p>{{ measure.description }}</p>
        <p><strong>{% translate "Advantages" %}: </strong>{{ measure.advantages.all|join:", " }}</p>
        <p><strong>{% translate "Disadvantages" %}: </strong>{{ measure.disadvantages.all|join:", " }}</p>
        <p><strong>{% translate "Conditions of implementation" %}: </strong>{{ measure.conditions_for_implementation }}</p>
        <p><strong>{% translate "Environmental compartment" %}: </strong>{{ measure.env }}</p>
        <p><strong>{% translate "Environmental compartment (overlap)" %}: </strong>{{ measure.env_secondary.all|join:", " }}</p>
        <hr />
        <p><strong>{% translate "Application potential" %}: </strong>{{ measure.potential }}</p>
        <p><strong>{% translate "Scale / extent" %}: </strong>{{ measure.size }}</p>
        <p><strong>{% translate "Implementation complexity" %}: </strong>{{ measure.difficulty_of_implementation }}</p>
        <p><strong>{% translate "Impact quantification" %}: </strong>{{ measure.quantification }}</p>
        <p><strong>{% translate "Impact time horizon" %}: </strong>{{ measure.time_horizon }}</p>
        <hr />
        <p><strong>{% translate "Invasive species issue" %}: </strong>{{ measure.invasion }}</p>
        <hr />


        <section class="boxgrid">
            <article class="boxcard">
                <div class="card-inner">
                    <header class="card-header"><h2 class="card-title">{% translate "Interconnection" %}:</h2></header>
                    <div class="card-body">
                        <ul>
                            <li>{{ measure.interconnection.all|join:"</li><li>" }}</li>
                        </ul>
                    </div>
                </div>
            </article>

    <article class="boxcard">
        <div class="card-inner">
            <header class="card-header"><h2 class="card-title">{% translate "Conflicts" %}: </h2></header>
            <div class="card-body">
                <ul>
                    <li>{{ measure.conflict.all|join:"</li><li>" }}</li>
                </ul>
                <p class="muted" style="margin-top:10px; font-size: 13px;">{% translate "Other conflicts" %}: {{ measure.other_conflict }}</p>
            </div>
        </div>
    </article>

    <article class="boxcard">
        <div class="card-inner">
            <header class="card-header"><h2 class="card-title">{% translate "Impact categories of climate change" %}:</h2></header>
            <div class="card-body">
                <ul>
                    <li>{{ measure.impact_details }}</li>
                </ul>

            </div>
        </div>
    </article>


    <article class="boxcard">
        <div class="card-inner">
            <header class="card-header"><h2 class="card-title">{% translate "Secondary impact categories of climate chang" %}</h2></header>
            <div class="card-body">
                <ul>
                    <li>{{ measure.other_impacts_details.all|join:"</li><li>" }}</li>
                </ul>
                <p class="muted" style="margin-top:10px; font-size: 13px;">{{ measure.impact_desc }}</p>
            </div>
        </div>
    </article>


    <article class="boxcard">
        <div class="card-inner">
            <header class="card-header"><h2 class="card-title">{% translate "Sustainable Development Goals (SDG)" %}</h2></header>
            <div class="card-body">
                <ul>
                    <li>{{ measure.sdg.all|join:"</li><li>" }}</li>
                </ul>
            </div>
        </div>
    </article>


    <article class="boxcard">
        <div class="card-inner">
            <header class="card-header"><h2 class="card-title">{% translate "DZES" %}</h2></header>
            <div class="card-body">
                <ul>
                    {% for dzes in measure.dzes.all %}
                        <li><a href="{{ dzes.url }}">{{ dzes }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>


    <article class="boxcard">
        <div class="card-inner">
            <header class="card-header"><h2 class="card-title">{% translate "PPH" %}</h2></header>
            <div class="card-body">
                <ul>
                    {% for pph in measure.pph.all %}
                        <li><a href="{{ pph.url }}">{{ pph }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </article>


=
<article class="boxcard">
<div class="card-inner">
<header class="card-header"><h2 class="card-title">Typologie NPOP</h2></header>
<div class="card-body">
<ul>
<li>3. Ochrana volně žijících ptáků</li>
</ul>
</div>
</div>
</article>
</section>






    </main>
{% endblock %}