{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<main class="measure-list">
    <h1>{% if selected_group %}{{ selected_group }}{% else %}{% trans 'All' %}{% endif %}</h1>
    <div class="grid">
        {% for measure in measures %}
            <a href="" class="card">
                <img src="{{ measure.processed_title_image.url }}" alt="{{ measure.measure_name_cs }}">
                <p>{{ measure.measure_name_cs }}</p>
            </a>
        {% endfor %}
    </div>

</main>
{% endblock %}